@font-face {
  font-family: TajawalBlack;
  src: url('./fonts/Tajawal-Black.ttf');
  font-weight: 900;
}

@font-face {
  font-family: TajawalMedium;
  src: url('./fonts/Tajawal-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: TajawalRegular;
  src: url('./fonts/Tajawal-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: TajawalLight;
  src: url('./fonts/Tajawal-Light.ttf');
  font-weight: 300;
}

html{
  direction: rtl;
}

h1, 
h2,
h3,
h4 {
  font-family: TajawalBlack;
}

h5 {
  font-family: TajawalMedium;
}

body {
  font-family: TajawalRegular;
}

blockquote,
span,
em,
a {
  font-family: TajawalLight;
}